<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include nav.html %}
    <header class="pres">
        <div class="pres-body">
            <div class="col-md-8 col-md-offset-2">
				<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRs0uMtAZr39rmW_kyF7tVDwcG3IWwcmCIttYSw5_W_cXSVmQfJS3MgrnW1xkqRFonxz4kqpaA0fCzb/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="598" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
				<div style="margin-top:20px;">
					<a href="/docs/Petr_Korolev_Zero_Knowledge_application.pdf" download="[Petr Korolev] Zero Knowledge - application area & developer tools.pdf" style="color:#fff"><u>Download presentation</u></a>
				</div>
            </div>
        </div>
    </header>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>