<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include nav.html %}
    <header class="pres">
        <div class="pres-body">
            <div class="col-md-8 col-md-offset-2">
				<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRs0uMtAZr39rmW_kyF7tVDwcG3IWwcmCIttYSw5_W_cXSVmQfJS3MgrnW1xkqRFonxz4kqpaA0fCzb/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="598" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

                    </div>
                </div>
            </div>
        </div>
        <a href="/docs/[Petr Korolev] Zero Knowledge - application area & developer tools.pdf" download="[Petr Korolev] Zero Knowledge - application area & developer tools.pdf">Download link</a>
    </header>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
